* {
  padding-inline-start: 0px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
:root {
  --secondary-font: "Raleway", sans-serif;
  --main-font: "Roboto", sans-serif;
  --text-color: #212121;
  --white: #fff;
  --light-blue-color: #2196f3;
  --secondary-color: #757575;
  --alt-white: #f5f4fa;
}
body {
  font-family: var(--main-font);
  color: var(--text-color);
}
h1,
h2,
h3,
h4 {
  margin: 0;
}
ul {
  margin-block-end: 0;
  margin-block-start: 0;
}
.section {
  padding: 94px 0;
}
.container {
  width: 1200px;
  align-items: center;
  margin: 0 215px;
}

/* HEADER */

.body-header {
  background-color: var(--white);
}
.body-header > .container {
  display: flex;
  border-bottom: 1px solid #ececec;
  justify-content: space-between;
}
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  padding: 24px 0 25px 0;
}
.blue-logo {
  color: var(--light-blue-color);
}
.black-logo {
  color: var(--text-color);
}
.menu-nav,
.nav-list,
.link-contact-list {
  display: flex;
  justify-content: space-between;
  padding-inline-start: 0px;
}

.nav-list {
  padding: 32px 0;
  margin-left: 93px;
}
.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--text-color);
}
.nav-list-item:nth-child(2) {
  margin-right: 46px;
  margin-left: 46px;
}
.link-phone-mail {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  text-decoration: none;
}
.link-contact-list {
  padding: 32px 0;
  gap: 50px;
}

.nav-link:hover,
.nav-link:focus,
.link-phone-mail:hover,
.link-phone-mail:focus {
  color: var(--light-blue-color);
}
/* HEADER END */

/* INDEX MAIN */

.main-background {
  background: #2f303a;
}
.main-background .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.head-title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
  margin-top: 200px;
}
.order-button {
  background: var(--light-blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
  cursor: pointer;
  border: 0cm;

  padding-top: 10px;
  margin-top: 30px;
  margin-bottom: 190px;
  padding-bottom: 10px;
  width: 200px;
}
.list {
  list-style-type: none;
}
.solutions {
  padding-bottom: 0;
}
.solutions-list {
  display: flex;
  gap: 30px;
}
.solutions-list-item,
.list-item {
  color: var(--text-color);
}
.solutions-list-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.solutions-list-element {
  color: var(--secondary-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 10px;
  margin-bottom: 0px;
}

/* OUR JOB */

.our-job-header,
.team-header {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.our-job .container {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
}
.our-job-list {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  width: 1170px;
}

/* END OUR JOB */

/* TEAM */

.team.section {
  background: var(--alt-white);
}
.team .container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.team-list {
  display: flex;
  padding: 0 150px;
  gap: 30px;
}
.team-header {
  margin-bottom: 50px;
}
.team-img-shadow {
  background: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-worker {
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin: 30px 0 10px;
  text-align: center;
}
.team-description {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  text-align: center;
  padding-bottom: 30px;
}
/* END TEAM */

/* FOOOTER */

.footer {
  background: #2f303a;
  padding: 60px 0 60px;
}
.footer-container .container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.white-logo {
  color: var(--white);
}
.address li:last-child {
  margin-bottom: 0;
}
.address li {
  margin-bottom: 9px;
}
.footer-list {
  margin-top: 20px;
}
.link-map {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white);
  text-decoration: none;
}
.link-map:hover,
.link-map:focus {
  color: var(--light-blue-color);
}
/* END FOOTER */

/* Portfolio styles */

.portfolio-main {
}
.portfolio-button {
  background: var(--alt-white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  border: none;
}
.portfolio-button:hover,
.portfolio-button:focus {
  background: var(--light-blue-color);
  color: var(--white);
}

.portfolio-job-list-element {
  box-sizing: border-box;
  background: var(--white);
  border: 1px solid #eeeeee;
}
.portfolio-job-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color);
}
.portfolio-job-description {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
